body 
{
    background: #000000 url("https://github.com/ThogeTG/learning-web/blob/master/images/header.jpg?raw=true") repeat-x;
}

#wrap {
    width: 100%;
    margin: 0 auto 15px auto;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

#topmenu {
    height: 20px;
    width: 100%;
    float: left;
    list-style: none;
    margin: auto;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}

    #topmenu li 
    {
        display: inline;
    }

    #topmenu a {
        display: block;
        float: left;
        width: 20%;
        margin: auto;
        text-decoration: none;
        padding: 0px 15px 0px 15px;
        text-align: center;
    }

        #topmenu a:hover {
            color: #ffffff;
            background-color: #b200ff;
        }

#header {
    display: block;
    list-style: none;
    padding: 0 0px 0px 278px;
    float: right;
    width: 415px;
    background-color: black;
    position: fixed;
}

#mainpage 
{
    width: 700px;
    float: left;
    padding: 1% 5% 1% 5%;
    height: auto
}

h1, h2, h3 
{
    color: #4800ff;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table, tr, th, td 
{
    border: 2px solid #1c0c62;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    margin: auto;
}

form
{
    
}

input 
{
    display: table-cell;
}

#div1 {
    width: 100px;
    height: 70px;
    padding: 10px;
    border: 2px solid #000000;
    display: block;
}

/* Style the footer */
#footer {
    background-color: #777;
    padding: 10px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 auto;
    background: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    clear: both;
}