body {
    /*background-color: mediumvioletred;*/
    background: #ff6a00 url("https://github.com/ThogeTG/learning-web/blob/master/images/header.png?raw=true") repeat-x;
}

#wrap {
    width: 100%;
    margin: 0 auto 15px auto;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4cff00;
}

#topmenu {
    height: 20px;
    width: 100%;
    float: left;
    list-style: none;
    margin: auto;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}

    #topmenu li 
    {
        display: inline;
    }

    #topmenu a {
        display: block;
        float: left;
        width: 20%;
        margin: auto;
        text-decoration: none;
        padding: 0px 15px 0px 15px;
        text-align: center;
    }

        #topmenu a:hover {
            color: #ffffff;
            background-color: #B52E10;
        }

#header {
    display: block;
    list-style: none;
    padding: 0 0px 0px 278px;
    float: right;
    width: 415px;
    background-color: black;
    position: fixed;
}

#mainpage 
{
    width: 700px;
    float: left;
    padding: 5px 5px 5px 0px;
    height: auto
}

    #mainpage h1 {
        font-size: 24px;
    }

    #mainpage h2 {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #B52E10;
    }

    #mainpage h3 {
        font-size: 20px;
    }

    #mainpage h4 {
        font-size: 18px;
    }

    #mainpage h5 {
        font-size: 16px;
    }

h1, h2, h3 
{
    color: #0094ff;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table, tr, th, td
{
    border: 1px solid #ff0000;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

/* Header */
/*
#header 
{
    height: 242px;
    background: url(images/header.png) no-repeat left top;
    clear: both;
}

#topmenu li
{
    display: inline;
}

#topmenu a
{
    display: block;
    float: left;
    height: 28px;
    margin: 0 0 0 0;
    text-decoration: none;
    padding: 9px 15px 0px 15px;
    text-align: center;
}

#topmenu a:hover
{
    color: #b200ff;
    background-color: #808080;
}

/* Style the header */

#article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
#section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
#footer {
    background-color: #777;
    padding: 10px;
    text-align: right;
    color: white;
}

/*Content*/
#content {
    background-color: #FFFFFF;
}



    #mainpage p {
        line-height: 22px;
        margin: 10px 0px 22px 0px;
        text-align: justify;
    }

    #mainpage blockquote {
        background: #efefef;
        display: block;
        margin: 5px;
        font: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
    }



